<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h1> Welcome to jobPortal <%= name %></h1>


	<a href="/employer/registration"> employe registration</a> | 
	<a href="/home/employerlist">employe list</a> | 
	<a href="/logout">logout</a> 

</body>
</html>